@charset "UTF-8";
@font-face {
    font-family: fonte-titulos;
    src: url(fontes/fonte-titulos.ttf);
}
@font-face {
    font-family: fonte-textos;
    src: url(fontes/fonte-texto.otf);
}
@font-face {
    font-family: fonte-botoes;
    src: url(fontes/fonte-botoes.otf);
}
:root {
    --cor-fundo-geral: #050726;
    --cor-fundo-section: #0B0F3D;
    --cor-fundo-resultado: #0B0F3D;
    --cor-fundo-botoes: #1E2EFF;
    --cor-fundo-botoes-hover: #4C5CFF;
    --cor-fundo-botoes-active: #4C5CFF;
    --cor-borda: #1A2270;
    --cor-fonte-titulos: #F2F4FF;
    --cor-fonte-textos: #F2F4FF;
    --cor-fonte-botoes: #F2F4FF;
    --fonte-titulos: fonte-titulos, 'Courier New', Courier, monospace;
    --fonte-textos: fonte-textos, Verdana, Geneva, Tahoma, sans-serif;
    --fonte-botoes: fonte-botoes, Verdana, Geneva, Tahoma, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-fundo-geral);
    color: var(--cor-fonte-textos);
    padding-bottom: 50px;
}
/*HEADER*/
header {
    max-width: 80%;
    margin: 0px auto 30px;
    padding: 15px 0;
    background-color: var(--cor-fundo-section);
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-radius: 0px 0px 12px 12px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
header h1 {
    color: var(--cor-fonte-titulos);
    font-family: var(--fonte-titulos);
    font-size: 2rem;
    text-align: center;
}
.header-img {
    max-width: 100px;
    height: auto;
}
/*FIM HEADER*/
.container {
    max-width: 80%;
    margin: 0px auto;
    padding: 0 20px;
}
/*SECTION*/
section {
    padding: 20px;
    background: var(--cor-fundo-section);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
/*SELETORES*/
.seletor-veiculo {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}
.type-btn {
    padding: 12px;
    flex: 1;
    font-weight: 600;
    font-family: var(--fonte-botoes);
    color: var(--cor-fonte-botoes);
    background: var(--cor-fundo-botoes);
    border: 1px solid var(--border);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.type-btn:hover {
    background-color: var(--cor-fundo-botoes-hover);
}
.type-btn.active{
    background: var(--cor-fundo-botoes-active);
    border-color: var(--cor-borda);
}
.grupo-veiculo {
    margin-bottom: 20px;
}
.relative {
    position: relative;
}
.grupo-veiculo label {
    margin-bottom: 8px;
    display: block;
    font-family: var(--fonte-textos);
    color: var(--cor-fonte-textos);
}
.grupo-veiculo, input {
    font-family: var(--fonte-textos);
    color: black;
}
input[type="text"], select {
    width: 100%;
    padding: 12px;
    font-family: var(--fonte-textos);
    font-size: 1rem;
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}
input[type="text"]:focus, select:focus {
    border-color: var(--cor-borda);
}
input:disabled {
    background: #f3f4f6;
    cursor: not-allowed;
}
.dropdown-list {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid var(--border);
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 0 0 8px 8px;
}
.dropdown-list.active {
    display: block;
}
.dropdown-list li {
    padding: 12px;
    border-bottom: 1px solid #f3f4f6;
    cursor: pointer;
    color: #333333; 
    font-weight: 500;
}
.dropdown-list li:hover {
    background-color: #eff6ff;
    color: var(--cor-fundo-botoes);
}
/*FIM SELETORES*/
#btn-verificar {
    width: 100%;
    padding: 15px;
    background: var(--cor-fundo-botoes);
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    font-family: var(--fonte-botoes);
    color: var(--cor-fonte-botoes);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}
#btn-verificar:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}
#btn-verificar:hover:not(:disabled) {
    background: var(--cor-fundo-botoes-hover);
}
#carregando {
    margin-top: 15px;
    text-align: center;
    font-family: var(--fonte-textos);
    color: var(--cor-fonte-textos);
    letter-spacing: 2px;
    font-weight: bold;
}
/*FIM SECTION*/
/*RESULTADO*/
.invisivel {
    display: none !important;
}
.resultado {
    margin-top: 25px;
    background: var(--cor-fundo-resultado);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    letter-spacing: 2px;
    text-align: center;
}
.resultado h3 {
    margin-bottom: 5px;
    font-family: var(--fonte-titulos);
    color: var(--cor-fonte-titulos);
}
#resultado-codigo {
    font-size: 0.9rem;
    font-family: var(--fonte-textos);
    color: var(--cor-fonte-textos);
    margin-bottom: 20px;
}
.resultado-tela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}
.tela-resultado {
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resultado-fipe {
    background: #FFFFFF;
    border: 1px solid #dbeafe;
    font-family: var(--fonte-textos);
    color: #000000;
}
.resultado-ipva {
    background: #f0fdf4;
    border: 1px solid #dcfce7;
    font-family: var(--fonte-textos);
    color: #000000;
}
.tela-resultado strong {
    font-size: 1.5rem;
    margin-top: 5px;
}
.resultado p {
    font-size: 0.8rem;
    font-family: var(--fonte-textos);
    color: var(--cor-fonte-textos);
}
@media (max-width: 480px) {
    .resultado-tela {
        grid-template-columns: 1fr;
    }
}
/*FIM RESULTADO*/